.animated {
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slideAcross {
  from {
    transform: translateX(300px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    visibility: visible;
  }
}

.slideAcross {
  animation-name: slideAcross;
  animation-timing-function: ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    visibility: visible;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-timing-function: ease;
}
