.background {
  background-color: #85bdee;
}

.sizzle {
  min-height: 800px;
  margin-top: 3em;
}

.sizzle-text {
  margin-left: 3em;
  width: 50%;
  font-size: 22px;
  color: white;
}

@media only screen and (max-width: 768px) {
  .sizzle-text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .sizzle-text {
    font-size: 12px;
  }
}

.sizzle-picture {
  width: 70%;
  visibility: hidden;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  visibility: hidden;
}

.info {
  margin-top: 3em;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  visibility: hidden;
}

a:link, a:visited, a:hover {
    color: black;
}

.aboutMe {
  background-color: #F16C6A;
}
